/* xs */
@media (min-width: 290px){
body{
                background: yellow;

}

.nav-section{

    h1{
        font-size: 1rem;
    }
}

header{
    color: #FFFFFF;
    background-image: url(../images/article-image-hero__290px.png);
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1.5em 1.2em;

    p{
        font-size: .8rem;
        line-height: 1.5;
        margin-top: .5em;
    }

    h2{
         line-height: 1;
         margin-bottom: .3em;
    }
    
/* continue */
    .date{
        font-size: .8rem;
        font-weight: 300;
        padding: 4em 0 .5em 0;
      
       
    }
}

}



/* s */

@media (min-width: 600px){
body{
                background: red;
}
}  /* sm */ 
@media (min-width: 768px) {
body{
                background: blue;
}

} /* md */ 
@media (min-width: 1024px) {
body{
                background: green;
}
}
                /* lg */ 
@media (min-width: 1280px){
body{
                background: pink;
}

}
