/* xs */
@media (min-width: 290px){



.nav-section{

    h1{
        font-size: 1rem;
    }
}

header{
    color: #FFFFFF;
    background-image: url(../images/article-image-hero__290px.png);
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1.5em 1.2em;

   /* img{
        display: none;
   } */

    h2{
         line-height: 1;
         margin-bottom: .3em;
    }
    
/* continue */
    .date{
        font-size: .8rem;
        font-weight: 300;
        padding: 4em 0 .5em 0;
      
       
    }
}

 p{
        font-size: .8rem;
        line-height: 1.5;
        margin-top: .5em;
    }

/* main */



.article{
    margin: 1.5em 1em;

    .article-date{
        margin: .5em 0;
        font-size: .8rem;
        font-weight: 300;
    }
}


.btn-article{
     display: block;
    text-align: center;
    color: #000000;
    margin: 2.5em  0 3em 0;

}

footer{
    display: block;
    text-align: center;
    color: #FFFFFF;
    background-color:#202020;
    padding: 2em 0;

    h4{
        font-size: .8rem;
        font-weight: 500;
    }
  
    p{
        margin: 0;
        font-weight: 300;
        font-size: .6rem;
    }
}

}



@media(min-width: 768px){
header{
  background-image: url(../images/blog-image-hero__1280.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10em 0;
}

.articles{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    margin: 2em 0;
}

.article{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 400px;
    margin: 0 auto;
   
}

}